!! Colorscheme

! special
*.foreground:   #c5c8c6
*.background:   [80]#1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc6666
*.color9:       #cc6666

! green
*.color2:       #b5bd68
*.color10:      #b5bd68

! yellow
*.color3:       #f0c674
*.color11:      #f0c674

! blue
*.color4:       #81a2be
*.color12:      #81a2be

! magenta
*.color5:       #b294bb
*.color13:      #b294bb

! cyan
*.color6:       #8abeb7
*.color14:      #8abeb7

! white
*.color7:       #c5c8c6
*.color15:      #ffffff

! urxvt appearance settings
URxvt.geometry: 92x66
URxvt*cursorBlink: true
URxvt.cursorUnderlane: true
URxvt*scrollBar: false
URxvt*depth: 32
URxvt*saveLines: 5000
URxvt*font:  xft:inconsolata:size=14:antialias=true
URxvt*underlineColor: yellow
URxvt*borderless: 1
URxvt.transparent: True
URxvt.shading: 20

! urxvt other extenstions
URxvt.perl-ext-common: default,matcher,clipboard,url-select,keyboard-select
URxvt*loginShell: true
Urxvt*secondaryScroll:  true    # Enable Shift-PageUp/Down in screen
URxvt*termName: rxvt-unicode

! urxvt unsued configs
!!! URxvt*buffered: false
!!! URxvt.urlLauncher: librewolf
!!! URxvt.matcher.button: 1
